{{>header}}
    <h1>{{ title }}</h1>
    <h1>My name is {{ name }} : Home View</h1>
    <img src="/images/robot.png" alt="robot" class="robo-img" />

    <p>Use this site to get your weather..!</p>
    <form action="products" method="GET">
        <input type="text" name="address" />
        <button type="submit">Search</button>
    </form>
{{>footer}}